<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="DatabaseTests" verbose="1" >
    <test name="TableCreation" >
        <classes>
            <class name="net.porillo.database.TableCreationTest"/>
            <class name="net.porillo.database.TableInsertDeleteTest"/>
        </classes>
    </test>
</suite>